<nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
            Genre
        </a>

        <div class="navbar-dropdown">
            <a class="navbar-item">
            Psychological
            </a>
            <a class="navbar-item">
            Journey to Another World
            </a>
            <a class="navbar-item">
            Slice of Life
            </a>
        </div>
    </div>
</nav>