<nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-start" id="nav_content">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Genre
            </a>
                <div class="navbar-dropdown">
                    <a 
                    class="navbar-item" 
                    href="/genre/psychological">
                    Psychological
                    </a>
                    <a 
                    class="navbar-item" 
                    href="/genre/journeytoanotherworld">
                    Journey to Another World
                    </a>
                    <a 
                    class="navbar-item" 
                    href="/genre/sliceoflife">
                    Slice of Life
                    </a>
                </div>
        </div>
    </div>
</nav>