<nav class="navbar" role="navigation" aria-label="dropdown navigation">

    <div class="navbar-end" id="nav_content">
        <span class="icon is-large 3rem x 3rem fas fa-2x 2em fas fa-border">
            <a class="home_button" href="/video"><i class="fas fa-home"></i></a>
        </span>
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                <div class="button">
                    Genre
                </div>
            </a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="/genre/psychological">
                    Psychological
                </a>
                <a class="navbar-item" href="/genre/journeytoanotherworld">
                    Journey to Another World
                </a>
                <a class="navbar-item" href="/genre/sliceoflife">
                    Slice of Life
                </a>
            </div>
        </div>
    </div>
</nav>