@use "../_variables/" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 2px solid red;
}

// $primary-color: #242423; // Eerie Black
// $alt-color: #333533; // Jet
// $secondary-color: #F5CB5C; // Maize Crayola
// $third-color: #E8EDDF; // Alabaster
// $fourth-color: #CFDBD5; // Timberwolf

body {
    background-color: $primary-color;
    color: $primary-color;
    height: 1750px;

    .title {
        color: $secondary-color;
        font-family: "Share Tech Mono", monospace, sans-serif;
    }

    #video {
        display: grid;
        grid-template-columns: 200px 200px 200px 200px 200px;
        grid-template-rows: 400px 400px 400px;
        row-gap: 100px;
        column-gap: 50px;
        padding: 5px;
        margin: 10px;
    }

    #popular_video {
        contain: content;
        overflow: scroll;
        height: 500px;
    }

    #recommended_video {
        contain: content;
        overflow: scroll;
        height: 500px;
    }

    #show_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #show_video {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .navbar {
        background-color: $third-color;
    }
    .navbar-link {
        color: $primary-color;
    }

    .navbar-item {
        color: $primary-color;
    }

    #popular_video {
        background-color: $fourth-color;
    }

    #recommended_video {
        background-color: $third-color;
    }
}

