@use "../_variables/" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 2px solid red;
}

// $primary-color: #242423; // Eerie Black
// $alt-color: #333533; // Jet
// $secondary-color: #F5CB5C; // Maize Crayola
// $third-color: #E8EDDF; // Alabaster
// $fourth-color: #CFDBD5; // Timberwolf

body {
    background-color: $primary-color;
    height: 100%;

    .title {
        color: $secondary-color;
        font-family: "Share Tech Mono", monospace, sans-serif;
    }

    #video {
        padding: 5px;
        margin: 10px;
    }

    #popular_video {
        contain: content;
        overflow: scroll;
        height: 575px;
        border-radius: 25px;
        margin: 10px;
        padding: 10px;
    }

    #recommended_video {
        contain: content;
        overflow: scroll;
        height: 575px;
        border-radius: 25px;
        margin: 10px;
        padding: 10px;
    }

    #show_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #show_video {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .navbar {
        background-color: $third-color;
    }
    .navbar-link {
        color: $primary-color;
    }

    .navbar-item {
        color: $primary-color;
    }

    #popular_video {
        background-color: $alt-color;
    }

    #recommended_video {
        background-color: $fourth-color;
    }

    .card {
        transition: transform .2s;
    }

    .card:hover {
        transform: scale(1.1); 
    }

    a {
        text-decoration:none;
        color: $primary-color;
    }
}

