@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url(/image/repeated-square-dark.png);
  background-blend-mode: screen;
  min-height: 100vh;
}
body #web_logo {
  height: 75px;
  width: 75px;
}
body .title {
  color: #242423;
  font-family: "Share Tech Mono", monospace, sans-serif;
}
body #anime_content {
  text-decoration: underline;
}
body #main_title {
  background-color: #F5CB5C;
  padding: 5px;
  padding-left: 10px;
  text-align: center;
}
body #weeb_title {
  font-size: 65px;
}
body #index_title {
  color: #F5CB5C;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
}
body #video_title {
  color: #F5CB5C;
}
body .subtitle {
  color: #F5CB5C;
}
body #video {
  padding: 5px;
  margin: 10px;
}
body #popular_video {
  contain: content;
  overflow: scroll;
  height: 750px;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}
body #recommended_video {
  contain: content;
  overflow: scroll;
  height: 750px;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}
body #show_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
body #show_video {
  display: flex;
  justify-content: center;
  align-content: center;
}
body .show_list {
  color: #CFDBD5;
}
body .navbar {
  background-color: #E8EDDF;
}
body #nav_content {
  padding: 10px;
  background-color: #E8EDDF;
  margin-right: 85px;
}
body .navbar-link {
  color: #242423;
}
body .navbar-dropdown {
  background-color: #242423;
}
body .navbar-item {
  color: #F5CB5C;
}
body #popular_video {
  background-color: #333533;
}
body #recommended_video {
  background-color: #F5CB5C;
}
body #index_card {
  transition: transform 0.2s;
  background-color: #242423;
  color: #F5CB5C;
  font-family: "Share Tech Mono", monospace, sans-serif;
}
body #index_card:hover {
  transform: scale(1.1);
}
body #show_card {
  background-color: #131313;
  border-radius: 10px;
  padding: 10px;
}
body a {
  text-decoration: none;
  color: #242423;
}
body .button {
  pointer-events: none;
  background-color: #242423;
  color: #F5CB5C;
}
body #recommend_button {
  color: #F5CB5C;
  padding: 5px;
  font-weight: bold;
  font-family: "Share Tech Mono", monospace, sans-serif;
  font-size: 25px;
}
body #recommendation_form {
  font-family: "Share Tech Mono", monospace, sans-serif;
  background-color: #242423;
  color: #F5CB5C;
  font-size: 20px;
}
body #submit_button {
  color: #F5CB5C;
  background-color: #333533;
  padding: 3px;
  font-weight: bold;
  font-family: "Share Tech Mono", monospace, sans-serif;
  font-size: 18px;
  border-radius: 5px;
}
body #comment_label {
  font-family: "Share Tech Mono", monospace, sans-serif;
  color: #F5CB5C;
  font-size: 20px;
  font-weight: bold;
}
body #comment_form {
  font-family: "Share Tech Mono", monospace, sans-serif;
  color: #242423;
  background-color: #F5CB5C;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
body #comment_form input {
  background-color: #242423;
  color: white;
  font-family: "Share Tech Mono", monospace, sans-serif;
}
body #comment_submit {
  text-align: center;
}
body #comment_button {
  color: #F5CB5C;
  background-color: #333533;
  font-family: "Share Tech Mono", monospace, sans-serif;
  font-size: 15px;
  padding: 3px;
  border-radius: 5px;
}
body #comment_section {
  color: #F5CB5C;
  background-color: #333533;
  font-family: "Share Tech Mono", monospace, sans-serif;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  width: 25vw;
  text-align: left;
}
body #comment button {
  color: #F5CB5C;
  background-color: #333533;
  border-radius: 5px;
}
body #edit_delete {
  display: flex;
}
body #edit_delete button {
  font-size: 13px;
  padding: 5px;
  margin: 3px;
  font-family: "Share Tech Mono", monospace, sans-serif;
}
body .modal-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .modal-background .modal-card-head {
  background-color: #F5CB5C;
  height: 25px;
}
body .modal-card-body {
  background-color: #242423;
  text-align: center;
}
body .modal-card-body input {
  background-color: #333533;
  color: white;
  font-family: "Share Tech Mono", monospace, sans-serif;
}
body .modal-card-body #submit_button {
  font-family: "Share Tech Mono", monospace, sans-serif;
  font-size: 13px;
}
body #error_card {
  background-image: url(https://media.comicbook.com/2017/10/naruto-1040308-1280x0.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body #error_card #error_title {
  background: #242423;
  color: #F5CB5C;
  font-family: "Share Tech Mono", monospace, sans-serif;
  border-radius: 5px;
}
body #error_img {
  margin-bottom: 30px;
  border-radius: 15px;
}
body #footer {
  background: none;
  color: #F5CB5C;
  font-family: "Share Tech Mono", monospace, sans-serif;
  font-size: 20px;
}
body #footer #footer_img {
  color: #F5CB5C;
}

/*# sourceMappingURL=main.css.map */
